//>  ████████████████████████████████████  1

#manly {
    background-size: cover; 
    background-repeat: no-repeat; 
    height: auto;
    // min-height: 100vh; 

}

//>  ████████████████████████████████████  2


//>  ████████████████████████████████████  3


//>  ████████████████████████████████████  4


//>  ████████████████████████████████████  5



